<% if local_assigns[:search_result] %>
  <div class="bg-teal-100 p-3 my-2 rounded-md">
    <strong class="block font-bold text-teal-800 mb-1">Search Result:</strong>
    <%= link_to complex_dish_kitchen.complex_dish_name, complex_dish_kitchen, class: "text-teal-600 hover:underline" %>
  </div>
<% else %>
  <div id="<%= dom_id complex_dish_kitchen %>">
    <p class="my-1 flex justify-between items-center">
      <strong class="block font-bold text-teal-800">Complex dish name:</strong>
      <strong><%= complex_dish_kitchen.complex_dish_name %></strong>
    </p>

      <ol>
        <% complex_dish_kitchen.ingredients.each do |ingredient| %>
          <li>
            <p class="my-1 flex justify-between items-center">
              <strong class="font-bold text-teal-800 mb-1">Ingredient Name: </strong><%= ingredient.ingredient_name %>
            </p>
            <p class="my-1 flex justify-between items-center">
              <strong class="font-bold text-teal-800 mb-1">Ingredient weight: </strong><%= ingredient.ingredient_weight %>
            </p>
              <p class="my-1 flex justify-between items-center">
            <strong class="font-bold text-teal-800 mb-1">Ingedient Calories per 100: </strong>g<%= ingredient.ingredient_calorie_per_100g %>
            </p>
          </li>
        <% end %>
      </ol>



<!--    <p class="my-2 flex justify-between items-center">-->
<!--      <strong class="block font-bold text-teal-800 mb-1">Complex dish calories:</strong>-->
<!--      <strong><%#= complex_dish_kitchen.complex_dish_calories %></strong>-->
<!--    </p>-->

    <% if action_name != "show" %>
      <%= link_to "Show this complex dish kitchen", complex_dish_kitchen, class: "rounded-lg py-3 px-5 bg-teal-800 text-amber-400 hover:bg-teal-600 inline-block font-medium" %>
      <%= link_to "Edit this complex dish kitchen", edit_complex_dish_kitchen_path(complex_dish_kitchen), class: "rounded-lg py-3 px-5 bg-teal-800 text-amber-400 hover:bg-teal-600 inline-block font-medium" %>
      <%= link_to "Delete this dish or drink", complex_dish_kitchen, method: :delete, data: {turbo_confirm: 'Are you sure?'}, class: "rounded-lg py-3 px-5 bg-teal-800 text-amber-400 hover:bg-teal-600 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
<% end %>