<%= form_with(model: @jornalentry, class: "contents") do |form| %>
  <% if @jornalentry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@jornalentry.errors.count, "error") %> prohibited this jornalentry from being saved:</h2>

      <ul>
        <% @jornalentry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>
  </div>

  <div class="my-5">
    <%= form.label :tested_at, style: "display: block" %>
    <%= form.time_field :tested_at, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>
  </div>

  <div class="my-5">
    <%= form.label :list_of_food, style: "display: block" %>
    <%= form.text_area :list_of_food, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>
  </div>

<!--  <div class="my-5">-->
    <%#= form.label :dish_or_drink, style: "display: block" %>
    <%#= form.select(:dish_or_drink_id, DishOrDrink.all.map{ |dish_or_drink| [dish_or_drink.name, dish_or_drink.id] }.sort, {include_blank: 'Please select'}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" }) %>
    <%#= form.select(:dish_or_drink_id, DishOrDrink.all.map{ |dish_or_drink| [dish_or_drink.name, dish_or_drink.id] }.sort, { :multiple => true, :size => 5 }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" }) %>
<!--  </div>-->

  <div class="my-5">
    <%= form.label :dish_or_drink_id, style: "display: block" %>
    <%#= form.select(:dish_or_drink_id, DishOrDrink.pluck(:name, :id).sort , { :multiple => true, data: {controller: 'slim'} }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" }) %>
    <%#= form.select(:dish_or_drink_id, DishOrDrink.pluck(:name, :id).sort, {include_blank: true}, {data: {controller: 'slim'}) %>
    <%= form.select :dish_or_drink_id, DishOrDrink.pluck(:name, :id), {include_blank: true}, {data: {controller: 'slim'}} %>
  </div>

  <div class="my-5">
    <%= form.label :glucose_mg_dl, style: "display: block" %>
    <%= form.number_field :glucose_mg_dl, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>
  </div>

  <div class="my-5">
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-teal-800 text-amber-400 inline-block font-medium cursor-pointer hover:bg-teal-600" %>
  </div>
<% end %>
