<div id="<%= dom_id jornalentry %>">
  <p>
    <strong>Date:</strong>
    <%= jornalentry.date %>
  </p>

  <p>
    <strong>List of food:</strong>
    <%= jornalentry.list_of_food %>
  </p>

  <p>
    <strong>Glucose mg dl:</strong>
    <%= jornalentry.glucose_mg_dl %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= jornalentry.notes %>
  </p>

</div>
