<div id="<%= dom_id jornalentry %>">
  <p>
    <strong>Date:</strong>
    <%= jornalentry.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= jornalentry.created_at %>
  </p>

  <p>
    <strong>List of food:</strong>
    <%= jornalentry.list_of_food %>
  </p>

  <p>
    <strong>Glucose mg/dL:</strong>
    <%= jornalentry.glucose_mg_dl %>
  </p>

  <p>
    <strong>Glucose mmol/L:</strong>
    <%= (jornalentry.glucose_mg_dl / 18).to_f %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= jornalentry.notes %>
  </p>

</div>
