<div id="<%= dom_id @jornalentry %>">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-teal-800">Journalentry</h1>
    <%= link_to "New entry", new_jornalentry_path, class: "rounded-lg py-3 px-5 bg-teal-800 text-amber-400 block text-sm font-medium hover:bg-teal-600" %>
  </div>
  <p class="my-5 flex justify-between items-center">
    <strong class="block font-bold text-teal-800 mb-1">Date:</strong>
    <%= @jornalentry.date %>
  </p>

  <p class="my-5 flex justify-between items-center">
    <strong class="block font-bold text-teal-800 mb-1">Tested at:</strong>
    <%= @jornalentry.tested_at.strftime('%H:%M') %>
  </p>

  <p class="my-5 flex justify-between items-center">
    <strong class="block font-bold text-teal-800 mb-1">List of Food:</strong>
    <%= @jornalentry.list_of_food %>
  </p>

  <p class="my-5 flex justify-between items-center">
    <strong class="block font-bold text-teal-800 mb-1">Dish or Drink:</strong>
    <%#= @jornalentry.dish_or_drink_id %>
    <%= @jornalentry.dish_or_drink.name if @jornalentry.dish_or_drink %>
  </p>

  <p class="my-5 flex justify-between items-center">
    <strong class="block font-bold text-teal-800 mb-1">Glucose, mg/dL:</strong>
    <%= @jornalentry.glucose_mg_dl %>
  </p>

  <p class="my-5 flex justify-between items-center">
    <strong class="block font-bold text-teal-800 mb-1">Glucose, mmol/L:</strong>
    <%= (@jornalentry.glucose_mg_dl / 18.0).round(2) %>
  </p>

  <p class="my-5 flex justify-between items-center">
    <strong class="block font-bold text-teal-800 mb-1">Note:</strong>
    <%= @jornalentry.notes %>
  </p>
</div>
